body {
    font-family: verdana,Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,STHeiti;
    font-size: 12px;
}
a {
    color: #ffa800;
    text-decoration: none;
}
input, select, textarea, button {
    font-family: verdana,Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",STHeiti;
}
body, p, div {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
}
*, *:active, *:focus {
    outline: 0 none;
}
.wrapper {
    color: #666;
    left: 50%;
    margin: -245px 0 0 -490px;
    position: absolute;
    top: 50%;
    width: 980px;
    z-index: 2;
}
.container {
    margin: -30px auto 0;
    width: 370px;
}

.container a.logo {
    background: rgba(0, 0, 0, 0) url(img/login/logo-new.png) no-repeat scroll 0 0;
    display: block;
    height: 90px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -999px;
    width: 75px;
}
.signup-forms {
    position: relative;
}

.signup-forms .signup-box {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9;
}

.signup-forms .inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    padding-top: 26px;
    width: 370px;
}
.signup-forms .form-field {
    clear: both;
    margin: 0 auto;
    padding-top: 10px;
    width: 320px;
}
.signup-forms .form-field input {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-shadow: 0 0 5px #fff;
    color: #666;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    outline: medium none;
    padding: 6px 0 6px 12px;
    transition: box-shadow 0.25s linear 0s;
    width: 306px;
}
.signup-forms .form-field input:focus {
    border: 1px solid #ffa200;
    box-shadow: 0 0 5px #ffa200;
    outline: medium none;
    transition: box-shadow 0.25s linear 0s;
 }
 
.signup-forms .connect .bd.open {
    height: auto;
}
.signup-forms .err-tip {
    background: #fff url(img/login/err_ico2.png) no-repeat scroll 0 -60px;
    clear: both;
    color: #ff3c00;
    display: none;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 0 3px 22px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 300px;
}

.signup-forms .form-link {
    clear: both;
    margin: 0 auto;
    padding: 8px 0 0;
    text-align: right;
    width: 320px;
}
.signup-forms .form-link a {
    color: #ffa800;
}
.signup-forms .form-link a:hover {
	text-decoration: underline;
}
.signup-forms .submit-btn {
    margin: 0 auto;
    padding: 12px 0 0;
    width: 320px;
}

.signup-forms .submit-btn button {
    background-color: #ffa800;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    line-height: 40px;
    text-align: center;
    width: 320px;
}


.signup-forms .agreement {
    color: #ccc;
    font-size: 12px;
    line-height: 1em;
    margin: 0 auto;
    padding-top: 12px;
    text-align: right;
    width: 320px;
}

.signup-forms .agreement a {
    color: #999;
    font-size: 12px;
    margin-left: 2px;
}
.signup-forms .agreement a:hover {
	text-decoration: underline;
	color: #3f200f;
}
.signup-forms .connect {
    clear: both;
    margin-top: 30px;
    overflow: hidden;
}

.signup-forms .connect .hd {
    border-top: 1px solid #ebebeb;
    color: #999;
    font-size: 12px;
    padding: 15px 0 20px 24px;
}

.signup-forms .connect .bd {
    height: 84px;
    overflow: hidden;
    padding: 0 0 0 25px;
    width: 348px;
}

.signup-forms .connect a {
    color: #999;
    display: inline-block;
    font-size: 12px;
    height: 84px;
    margin-right: 25px;
    text-align: center;
    width: 58px;
}



.signup-forms .connect a i {
    background: rgba(0, 0, 0, 0) url(img/login/c_icon3.gif) no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 42px;
    margin: 0 0 4px 10px;
    width: 42px;
}
.signup-forms .connect a.weibo i {
    background-position: 0 0;
}
.signup-forms .connect a.weibo:hover i {
    background-position: 0 -42px;
}

.signup-forms .connect a.qq i {
    background-position: -42px 0;
}
.signup-forms .connect a.qq:hover i {
    background-position: -42px -42px;
}
.signup-forms .connect a.renren i {
    background-position: -84px 0;
}
.signup-forms .connect a.renren:hover i {
    background-position: -84px -42px;
}

.signup-forms .connect a.more i {
    background-position: -252px 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.signup-forms .connect a.weixin i {
    background-position: -294px 0;
}
.signup-forms .connect a.weixin:hover i {
    background-position: -294px -42px;
}

.signup-forms .connect a.aq360 i {
    background-position: -336px 0;
}
.signup-forms .connect a.aq360:hover i {
    background-position: -336px -42px;
}

.bottom-link {
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    width: 320px;
}

.bottom-link a {
    color: #ffa800;
    margin-left: 6px;
}
.photoby {
    bottom: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    position: absolute;
    right: 10px;
    z-index: 3;
}

.photoby a {
    color: #fff;
}
.fullscreen-bg {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}
.fullscreen-bg img {
    display: none;
    height: auto;
    margin: 0;
    opacity: 1;
    visibility: visible;
}
.fullscreen-bg::before {
    background: rgba(0, 0, 0, 0.2) url(img/login/full_page_vignette.png) repeat scroll 0 0 / 100% auto;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
}
.fullscreen-bg::after {
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}